
{% load static %}

<!DOCTYPE html>

    <html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block titulo %}{% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">


    </head>

    <body class="imagen-de-fondo">

        <div class="container">

            <!-- Titulo principal -->

            <div class="mt-4 text-light">
                <div>
                    <h1 class="text-center system-name">La Caffettiera</h1>
                    <h3 class="text-center">L'autentico caffè d'italia</h3>
                 </div>
            </div>

            <!-- Navbar -->

            <div class="row">

                <div class="col-12 mt-4">

                    {% include "core/componentes/navbar.html" %}

                </div>

            </div>

            {% block contenido %}
            {% endblock %}

            <!-- Footer -->

            <div class="row">

                <div class="col-12 mt-5 mb-4">

                    {% include "core/componentes/footer.html" %}

                </div>

            </div>

        </div>

        <!-- Scripts -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        
    </body>

</html>